anyio==4.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
blinker==1.6.2
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.0.7
cryptography==42.0.5
cssselect2==0.7.0
cycler==0.11.0
defusedxml==0.7.1
docutils==0.20.1
essentials==1.1.5
essentials-openapi==1.0.9
feedgenerator==2.1.0
fonttools==4.39.3
ghp-import==2.1.0
h11==0.14.0
httpcore==1.0.3
httpx==0.26.0
idna==3.6
importlib-metadata==6.8.0
Jinja2==3.1.3
kiwisolver==1.4.4
libscrc==1.8.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.1
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-exclude-unused-files==1.3.0
mkdocs-glightbox==0.3.2
mkdocs-material==9.5.17
mkdocs-material-extensions==1.3.1
mpremote==1.21.0
neoteroi-mkdocs==1.0.5
numpy==1.24.2
numpy-hilbert-curve==1.0.1
packaging==23.2
paginate==0.5.6
pathspec==0.12.1
pelican==4.8.0
pillow==10.3.0
platformdirs==4.2.0
pycparser==2.22
Pygments==2.17.2
PyGObject==3.48.2
pymdown-extensions==10.7
pyparsing==3.0.9
PyQt3D==5.15.6
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.12.25
requests==2.31.0
rich==13.4.2
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
tinycss2==1.2.1
Unidecode==1.3.6
urllib3==2.2.0
watchdog==4.0.0
webencodings==0.5.1
zipp==3.17.0
