name: ci 
on:
  push:
    branches: 
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs
      - run: pip install mkdocs-material 
      - run: pip install mkdocs-glightbox
      - run: sudo apt-get install imagemagick pngquant
      - run: find . -name '*.png' -execdir mogrify -resize 750x {} && pngquant {} --ext .png --force \;
      - run: mkdocs gh-deploy --force